<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin</h2>
            <h4>admin@mail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Admin">
    </div>


<mat-divider></mat-divider>

<h5 matSubheader>Pages</h5> 

<a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">Dashboard</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employee</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/corona">Corona</a>

<mat-divider></mat-divider>

<h5 matSubheader>Tools</h5> 

<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>contacts</a>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contacts_phone</mat-icon>Leads</a>

</mat-nav-list>

