<!-- <highcharts-chart 
  [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;">
</highcharts-chart> -->

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20" class="stats-cards">
  <mat-card fxFlex="100">
    <h2>US Corona Historical Chart Date Wise Positive Cases</h2>
    <canvas id="piechart"></canvas>
  </mat-card>
</div>

<br>
<br>
<mat-divider></mat-divider>
<br>

<div>
<mat-card fxFlex="100">
  <h2>US Corona Historical Chart Date wisse Negative Cases</h2>
  <canvas id="piechart1"></canvas>
</mat-card>
</div>


<br>
<br>
<mat-divider></mat-divider>
<br>

<div>
<mat-card fxFlex="100">
  <h2>COWIN Corona Center name with Center ID</h2>
  <canvas id="piechart2"></canvas>
</mat-card>
</div>

<!-- <div class="row">
  <div class="divcol-lg-6">
   
  </div>
</div> -->